In [1]:
#install libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#load dataset 
mental_health = pd.read_csv("data/depression_data.csv")

In [3]:
mental_health.head()

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,Christine Barker,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,Jacqueline Lewis,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,Shannon Church,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,Charles Jordan,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,Michael Rich,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes

In [4]:
#data cleanining 
mental_health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413768 entries, 0 to 413767
Data columns (total 16 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Name                          413768 non-null  object
 1   Age                           413768 non-null  int64
 2   Marital Status                413768 non-null  object
 3   Education Level               413768 non-null  object
 4   Number of Children            413768 non-null  int64
 5   Smoking Status                413768 non-null  object
 6   Physical Activity Level       413768 non-null  object
 7   Employment Status             413768 non-null  object
 8   Income                        413768 non-null  float64
 9   Alcohol Consumption           413768 non-null  object
 10  Dietary Habits                413768 non-null  object
 11  Sleep Patterns                413768 non-null  object
 12  History of Mental Illness     413768 non-null  object
 13  History of Substance Abuse    413768 non-null  object
 14  Family History of Depression  413768 non-null  object
 15  Chronic Medical Conditions    413768 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 50.5+ MB

In [5]:
mental_health.describe()

                 Age  Number of Children         Income
count  413768.000000       413768.000000  413768.000000
mean       49.000713            1.298972   50661.707971
std        18.158759            1.237054   40624.100565
min        18.000000            0.000000       0.410000
25%        33.000000            0.000000   21001.030000
50%        49.000000            1.000000   37520.135000
75%        65.000000            2.000000   76616.300000
max        80.000000            4.000000  209995.220000

In [6]:
mental_health.isnull()

,Name,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413763,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
413764,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
413765,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
413766,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
413767,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
mental_health.isnull().sum

<bound method DataFrame.sum of          Name    Age  Marital Status  Education Level  Number of Children  \
0       False  False           False            False               False
1       False  False           False            False               False
2       False  False           False            False               False
3       False  False           False            False               False
4       False  False           False            False               False
...       ...    ...             ...              ...                 ...
413763  False  False           False            False               False
413764  False  False           False            False               False
413765  False  False           False            False               False
413766  False  False           False            False               False
413767  False  False           False            False               False

        Smoking Status  Physical Activity Level  Employment Status  Income  \
0                False                    False              False   False
1                False                    False              False   False
2                False                    False              False   False
3                False                    False              False   False
4                False                    False              False   False
...                ...                      ...                ...     ...
413763           False                    False              False   False
413764           False                    False              False   False
413765           False                    False              False   False
413766           False                    False              False   False
413767           False                    False              False   False

        Alcohol Consumption  Dietary Habits  Sleep Patterns  \
0                     False           False           False
1                     False           False           False
2                     False           False           False
3                     False           False           False
4                     False           False           False
...                     ...             ...             ...
413763                False           False           False
413764                False           False           False
413765                False           False           False
413766                False           False           False
413767                False           False           False

        History of Mental Illness  History of Substance Abuse  \
0                           False                       False
1                           False                       False
2                           False                       False
3                           False                       False
4                           False                       False
...                           ...                         ...
413763                      False                       False
413764                      False                       False
413765                      False                       False
413766                      False                       False
413767                      False                       False

        Family History of Depression  Chronic Medical Conditions
0                              False                       False
1                              False                       False
2                              False                       False
3                              False                       False
4                              False                       False
...                              ...                         ...
413763                         False                       False
413764                         False                       False
413765                         False                       False
413766                         False                       False
413767                         False                       False

[413768 rows x 16 columns]>

In [8]:
mental_health.drop(columns=['Name'],inplace = True)

In [9]:
mental_health.head()

,Age,Marital Status,Education Level,Number of Children,Smoking Status,Physical Activity Level,Employment Status,Income,Alcohol Consumption,Dietary Habits,Sleep Patterns,History of Mental Illness,History of Substance Abuse,Family History of Depression,Chronic Medical Conditions
0,31,Married,Bachelor's Degree,2,Non-smoker,Active,Unemployed,26265.67,Moderate,Moderate,Fair,Yes,No,Yes,Yes
1,55,Married,High School,1,Non-smoker,Sedentary,Employed,42710.36,High,Unhealthy,Fair,Yes,No,No,Yes
2,78,Widowed,Master's Degree,1,Non-smoker,Sedentary,Employed,125332.79,Low,Unhealthy,Good,No,No,Yes,No
3,58,Divorced,Master's Degree,3,Non-smoker,Moderate,Unemployed,9992.78,Moderate,Moderate,Poor,No,No,No,No
4,18,Single,High School,0,Non-smoker,Sedentary,Unemployed,8595.08,Low,Moderate,Fair,Yes,No,Yes,Yes